@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap");

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #465331;
}

/*banner*/
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/pexels-luis-gomes-546819.jpg");
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: center;
}

#banner h3,
h4 {
  color: #ffffff;
  text-shadow: 3px 3px 3px #000000;
}

/*head*/
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: #bad66e;
  box-shadow: 0 5px 15px rgba(189, 18, 18, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 35px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
  text-shadow: 2px 2px 2px #000000;
}

.navbar li a:hover,
.navbar li a.active {
  color: #bad66e;
}

.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/*Accueil*/
#presentation {
  background-image: url("img/president.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 67.5vh;
}

#presentation h1,
h2,
h3 {
  color: #bad66e;
  text-shadow: 4px 4px 8px #000;
  padding: 25px;
}

#presentation p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 3px 3px 6px #bad66e;
  padding: 15px;
}

#presentation span {
  color: #bad66e;
  text-shadow: 3px 3px 6px #000;
}

#presentation h1 {
  font-size: 50px;
  font-weight: 700;
}

#presentation h2,
h3 {
  font-size: 40px;
  font-weight: 450;
}

/*skills*/
#skills{
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 83vh;
}

#skills h2{
  background-color: #bad66e;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 3px#000;
  padding: 5px;
}

#skills h3{
  background-color: #ffffff;
  color: #bad66e;
  text-shadow: 2px 2px 3px#000;
  font-size: 40px;
  text-align: center;
  padding: 5px;
}

.box {
  background-color: #465331;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.box .list{
  width: 100%;
  height: 50vh;
  padding-top: 20px;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
  padding-bottom: 10px;
}

/*Projects*/
.projectsbox {
  background-color: #465331;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
}

.project {
  width: 80%;
  margin-bottom: 20px;
}

iframe {
  width: 650px;
  height:650px;
}

.calculatrice {
  height: 450px;
}

.puiss {
  margin-left: 55px;
}

.punch {
  height: 850px;
}

.horloge {
  width: 450px;
  height:450px;
}

.pika {
  height: 750px;
  width: 1000px
}

.robbie {
  width: 950px;
  height:650px;
}

.project-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#project .title {
  font-size: 40px;
  color: #bad66e;
  text-shadow: 2px 2px 4px #000000;
  margin: 25px;
  width: fit-content;
  text-align: center;
}

.project-description {
  text-align: -webkit-center;
}

.project-description h4{
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  background-color: #bad66e;
  text-align: center;
}

.project-description p{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #bad66e;
  text-shadow: 1px 1px 2px #000;
}

.earth{
  width: fit-content;
  border-radius: 5px;
}

.calcul {
  width: fit-content;
  border-radius: 5px;
}

.punchline {
  width: fit-content;
  border-radius: 5px;
}

.hang {
  width: fit-content;
  border-radius: 5px;
}

.shi {
  width: fit-content;
  border-radius: 5px;
}

.puissance {
  margin-top: -140px;
  width: fit-content;
  border-radius: 5px;
}

.pok {
  width: fit-content;
  border-radius: 5px;
}

.horloges {
  width: fit-content;
  border-radius: 5px;
}

.rob {
  width: fit-content;
  border-radius: 5px;
}

.hangman {
  height: 500px;
}

.coming{
  margin: 0 16px;
}

.market{
  margin: 0 115px;
}

.fourcard{
  margin: 0 -173px;
}

.nft{
  margin: 0 -49px;
}

.product{
  margin: 0 -30px;
}

.qr{
  margin: 0 -8px;
}

/*contact*/
#contact {
  background-image: url("img/ile.png");
  background-size: 101%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 67.5vh;
}

#contact .mail{
  color: #bad66e;
  text-shadow: 2px 2px 3px #000000;
}

#contact h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 2px 2px 3px #000000;
  margin: 30px;
}

#contact h2,
h3,
h4 {
  font-size: 35px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 2px 2px 3px #000000;
  padding: 20px;
}

#contact span {
  font-size: 20px;
  font-weight: 650;
  color: #ffffff;
  text-shadow: 2px 2px 3px #000000;
}

#contact p {
  font-size: 20px;
  font-weight: 650;
  color: #bad66e;
  text-shadow: 2px 2px 3px #000000;
  margin: 10px;
}

#contact p {
  backdrop-filter: blur(10px) invert(25%);
}

.link{
  color: #bad66e;
  text-shadow: 2px 2px 3px #000;
}

.link:visited{
  color: #bad66e;
}

/*footer*/
footer {
  background-color: #bad66e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 20px;
  font-weight: 250;
  color: #ffffff;
  text-shadow: 3px 3px 3px #000000;
}

@media screen and (max-width: 768px) {
  
  #banner {
  height: 15vh;
  }
  #presentation {
  height: auto;
  min-height: 50vh;
  }
  #presentation h1 {
  font-size: 35px;
  }
  #presentation h2,
  h3 {
  font-size: 30px;
  }
  #skills h2,
  h3 {
  font-size: 30px;
  }
  .project {
  width: 100%;
  }
  .project-description h4 {
  font-size: 30px;
  }
  }
  
  @media screen and (max-width: 480px) {
  
  #banner {
  height: 10vh;
  }
  #presentation {
  height: auto;
  min-height: 40vh;
  }
  #presentation h1 {
  font-size: 25px;
  padding: 10px;
  }
  #presentation h2,
  h3 {
  font-size: 20px;
  padding: 5px;
  }
  #skills h2,
  h3 {
  font-size: 25px;
  padding: 5px;
  }
  .project {
  width: 100%;
  }
  .project-description h4 {
  font-size: 25px;
  padding: 10px;
  }
  }